In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [3]:
# DATA NOTE:
# Parquet file is stored locally and NOT tracked in GitHub
# Update DATA_PATH as needed


df = pd.read_parquet(r"D:\AI Trading - Fin Tech\stock_data_filtered.parquet")
df

,PERMNO,MthCalDt,MthRet,UGVKEY,gvkey,addzip,cik,dlrsn,fyrc,ggroup,...,cshtr_f,dvpsp_f,dvpsx_f,prcc_f,prch_f,prcl_f,adjex_f,rank,au,auop
0,10000,1986-01-31,0.707317,13007,13007,80234.0,NaN,10.0,10,2520.0,...,NaN,0.0,0.0,NaN,NaN,NaN,1.0,1.0,9.0,2.0
1,10000,1986-02-28,-0.257143,13007,13007,80234.0,NaN,10.0,10,2520.0,...,NaN,0.0,0.0,NaN,NaN,NaN,1.0,1.0,9.0,2.0
2,10000,1986-03-31,0.365385,13007,13007,80234.0,NaN,10.0,10,2520.0,...,NaN,0.0,0.0,NaN,NaN,NaN,1.0,1.0,9.0,2.0
3,10000,1986-04-30,-0.098592,13007,13007,80234.0,NaN,10.0,10,2520.0,...,NaN,0.0,0.0,NaN,NaN,NaN,1.0,1.0,9.0,2.0
4,10000,1986-05-30,-0.222656,13007,13007,80234.0,NaN,10.0,10,2520.0,...,NaN,0.0,0.0,NaN,NaN,NaN,1.0,1.0,9.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3811126,93436,2025-08-29,0.083044,184996,184996,78725.0,1318605.0,NaN,12,2510.0,...,2.373730e+10,0.0,0.0,403.84,488.5399,138.8025,1.0,1.0,7.0,4.0
3811127,93436,2025-09-30,0.332015,184996,184996,78725.0,1318605.0,NaN,12,2510.0,...,2.373730e+10,0.0,0.0,403.84,488.5399,138.8025,1.0,1.0,7.0,4.0
3811128,93436,2025-10-31,0.026623,184996,184996,78725.0,1318605.0,NaN,12,2510.0,...,2.373730e+10,0.0,0.0,403.84,488.5399,138.8025,1.0,1.0,7.0,4.0
3811129,93436,2025-11-28,-0.057802,184996,184996,78725.0,1318605.0,NaN,12,2510.0,...,2.373730e+10,0.0,0.0,403.84,488.5399,138.8025,1.0,1.0,7.0,4.0
3811130,93436,2025-12-31,0.045447,184996,184996,78725.0,1318605.0,NaN,12,2510.0,...,2.373730e+10,0.0,0.0,403.84,488.5399,138.8025,1.0,1.0,7.0,4.0